/* font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Fjalla One', sans-serif;
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

header {
    background-color: rgb(242, 242, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header figure {
    margin: 0;
    width: 120px;
    margin: 0px 0px 0px 20px;
}

header figure img {
    width: inherit;
    height: inherit;
    border-radius: 30px;
}

h1 {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    line-height: 150%;
    font-size: 40px;
    font-weight: bold;
    /*font-style: italic;*/
    letter-spacing: -.5px;
    text-transform: capitalize;
    color: white;
}

h2 {
    margin: 0;
    margin: 30px 0px;
    text-transform: uppercase;
    color: #b3edf0;
    font-weight: 700;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

ul a:hover {
    color: #bdd0d1
}

.link {
    text-decoration: none;
    color: rgb(17, 17, 17);
    margin: 10px;
}

.main {
    display: flex;
    align-items: center;
    height: 200px;
    padding-left: 20px;
    background-color: #ccf2f4;
    background-image: url(../img/IMG_20200928_142618757.jpg);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.main span {
    color: #005086;
}

.proyects {
    padding: 0px 30px 10px 30px;
    background-color: rgb(242, 242, 247);
    p
}

.proyect {
    margin-bottom: 20px;
    border: 3px solid rgb(97, 93, 93);
    border-radius: 10px;
    box-shadow: 0px -10px 10px rgb(49, 48, 48);
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
}

.proyect-description {
    text-align: justify;
}

.proyect-title {
    margin-top: 0;
}

.proyect-left {
    width: 500px;
}

.proyect-left a {
    text-decoration: none;
    color: black;
}

.proyect-left a:hover {
    color: #a4a8a8;
}

.proyect-contaneir-image {
    width: 500px;
}

.proyect-image {
    width: inherit;
}

.experience-title {
    margin: 20px 0px 20px 30px;
}

.experiences {
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(164, 204, 204);
}

.experience {
    border: 2px black solid;
    margin: 0px 20px 40px 0px;
    width: 480px;
    background-color: #f4fbff;
    
    
    
}
.experience-container-image{
  margin: 0px;
  width: inherit;
  height: 200px;

}
.experience-image{
 width: inherit;
 height: inherit;
 
}

.experience-down {
    margin: 20px  40px;
    margin-top: -30px;
    background-color: rgb(233, 227, 227);
    
    position: relative;
}
.experience-down_title{
  padding: 20px 20px;
}

.experience-description {
    text-align: justify;
    padding: 0px 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    background-color: rgb(242, 242, 247);
    ;
}

.contact {
    background-color: rgb(89, 133, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    padding: 0;
}

.contact-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-email input {
    border-color: thistle;
    border-radius: 8px;
    width: 180px;
}

.contact-email button {
    width: 180px;
    color: #005086;
    border-color: #bdd0d1;
    border-radius: 8px;
}

.footer p {
    margin: 0px;
    font-weight: lighter;
    font-style: italic;
    font-variant: small-caps;
}


/*.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.box {
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    margin: 10px;
}*/