/* font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Fjalla One', sans-serif;
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
}

header {
    background-color: rgb(242, 242, 247);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header figure {
    margin: 0;
    width: 120px;
    margin: 0px 0px 0px 20px;
}

header figure img {
    width: inherit;
    height: inherit;
    border-radius: 30px;
}

h1 {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    line-height: 150%;
    font-size: 40px;
    font-weight: bold;
    /*font-style: italic;*/
    letter-spacing: -.5px;
    text-transform: capitalize;
    color: white;
}

h2 {
    margin: 0;
    margin: 30px 0px;
    text-transform: uppercase;
    color: #b3edf0;
    font-weight: 700;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

ul a:hover {
    color: #bdd0d1;
    background-color: #ccf2f4;
}

.link {
    text-decoration: none;
    color: rgb(17, 17, 17);
    margin: 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
    justify-content: space-between;
    background-color: #ccf2f4;
    /*background-image: url(../img/IMG_20200928_142618757.jpg);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position-x: right;*/
}

.main figure {
    margin: 0px;
    width: 300px;
    height: inherit;
}

.main img {
    width: inherit;
    height: inherit;
}

.main span {
    color: #005086;
}

.proyects {
    padding: 20px 30px 10px 30px;
    background-color: rgb(242, 242, 247);
    display: flex;
    flex-wrap: wrap;
}

.proyects h2 {
    margin: 0px 0px 20px;
}

.proyect {
    margin-bottom: 20px;
    border: 3px solid rgb(97, 93, 93);
    border-radius: 10px;
    box-shadow: 0px -10px 10px rgb(49, 48, 48);
    padding: 4%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: antiquewhite;
}

.proyect-description {
    text-align: justify;
}

.proyect-title {
    margin-top: 0;
}

.proyect-left {
    width: 48%;
}

.proyect-left a {
    text-decoration: none;
    color: black;
}

.proyect-left a:hover {
    color: #a4a8a8;
}

.proyect-contaneir-image {
    width: 48%;
    margin: 0;
    padding-left: 10px;
}

.proyect-image {
    width: 100%;
}

.experience-title {
    margin: 20px 0px 20px 30px;
}

.experiences {
    padding: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*background-color: rgb(164, 204, 204);*/
}

.experience {
    margin: 20px 30px 20px 30px;
    width: 380px;
    background-color: #f4fbff;
}

.experience-container-image {
    margin: 0px;
    width: inherit;
    height: 200px;
}

.experience-image {
    width: inherit;
    height: inherit;
}

.experience-down {
    margin: 20px 40px;
    margin-top: -30px;
    background-color: rgb(233, 227, 227);
    position: relative;
}

.experience-down_title {
    padding: 20px 20px;
}

.experience-down button {
    border: #005086 solid 2px;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 25px;
    color: #005086;
    margin: 0px 150px;
    margin-bottom: 10px;
}

.experience-description {
    text-align: justify;
    padding: 0px 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(242, 242, 247);
    justify-content: space-between;
}

.redes {
    display: flex;
    align-items: center;
}

.redes-link {
    margin: 0px 5px;
    width: 50px;
    height: 50px;
}

.github {
    background-image: url(../img/gitgub.png);
    background-size: 50px 50px;
    border-radius: 25px;
    background-repeat: no-repeat;
}

.facebook {
    background-image: url(../img/facebook.png);
    background-size: 50px 50px;
    border-radius: 25px;
    background-repeat: no-repeat;
}

.instagram {
    background-image: url(../img/instagram.jpg);
    background-size: 50px 50px;
    border-radius: 25px;
    background-repeat: no-repeat;
}

.twitter {
    background-image: url(../img/twitter.png);
    background-size: 50px 50px;
    border-radius: 25px;
    background-repeat: no-repeat;
}

.contact {
    background-color: rgb(89, 133, 133);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 30px;
}

.contact h2 {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-email input {
    border: blue;
    border-style: solid;
    background-image: url(../img/carta.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 15px;
    color: #005086;
    padding: 20px 45px;
    outline: none;
    /* Para quitar la sombra que aparecer al darle click al cuadro de texto*/
}

.contact-email button {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #005086;
    background-color: transparent;
    border-color: white;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 25px;
    outline: none;
}

.footer p {
    margin: 0px;
    font-weight: lighter;
    font-style: italic;
    font-variant: small-caps;
}

.wrapper {
    margin: 0px auto;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    height: inherit;
    width: 900px;
    flex-wrap: inherit;
}

@media screen and (max-width:1024px) {}

@media screen and (max-width:767px) {
    .wrapper {
        width: auto;
    }
    .header {
        height: auto;
        display: block;
    }
    .header ul {
        display: block;
        padding: 0;
    }
    .link {
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 10px 0px;
    }
    .header figure {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
        padding: 10px 0px;
    }
    .header img {
        width: 120px;
    }
    .proyect {
        display: block;
        font-size: 16px;
    }
    .proyect-left {
        width: auto;
    }
    .proyect-contaneir-image {
        width: auto;
    }
    .proyect-title {
        font-size: 1em;
    }
    .proyect-description {
        font-size: 0.9em;
        margin: 1em 0em;
    }
    .proyect-language {
        font-size: 0.9em;
        margin: 1em 0em;
    }
    .proyect-date {
        font-size: 0.8em;
        margin: 1em 0em;
    }
    .proyect-link {
        font-size: 0.9em;
        margin: 1em 0em;
    }
}

@media screen and (max-width:480px) {
    .proyects {
        padding: 0.5em 0.5em;
    }
    .proyect {
        font-size: 14px;
    }
    .link {
        padding: 0.5em;
    }
    .proyect-title {
        font-size: 1em;
    }
    .proyect-description {
        font-size: 0.9em;
        margin: 1em 0em;
    }
    .proyect-language {
        font-size: 0.9em;
        margin: 1em 0em;
    }
    .proyect-date {
        font-size: 0.8em;
        margin: 1em 0em;
    }
    .proyect-link {
        font-size: 0.9em;
        margin: 1em 0em;
    }
}

@media screen and (max-width:320px) {}


/*.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.box {
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    margin: 10px;
}*/